{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "",
      "FUNCTIONS_WORKER_RUNTIME": "",
      "AzureWebJobsSecretStorageType": "",
      
      "AZURE_COGNITIVE_SEARCH_ENDPOINT": "",
      "AZURE_COGNITIVE_SEARCH_APIKEY": "",
      
      "AzureOpenAiEndpoint": "",
      "AzureOpenAiKey": "",
      "AzureOpenAiChatDeploymentName": "",
      "AzureOpenAiEmbeddingDeploymentName": "",
      
      "TranscriptionStorage": "",
      
      "SPEECH_SERVICE_KEY": "",
      "SPEECH_SERVICE_REGION": ""
    }
}